@page "/user/dashboardB"
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>##My Booking Calander##</title>
    @* <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> *@
    <style>
        .row{
            /* border: red 1px solid; */
            height: 20%;
        }
        .col{
            background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 5px;
            /* border: blue 1px solid; */
            text-align: center;
        }
        .selected{
            border: 3px solid lime;
        }
        .col div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .booked1{
            background-color: rgba(221, 153, 126, 0.733);
        }
        .booked2{
            background-color: rgba(228, 238, 88, 0.747);
        }
        .date{
            width: 14%;
            align-content: center;
            align-items: center;
            justify-content: center;
            border: 2px solid blue;
            text-align: center;
            overflow-wrap: break-word
        }
    </style>
    </head>
<body>

    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="content" style="width: 70%; height: 80%">
            <div class="row">
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>1</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>2</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>3</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>4</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>5</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>6</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>7</div></div>
            </div>
            <div class="row">
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>8</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div class="booked1">9</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1 selected"><div>10</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div class="booked2">11</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>12</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>13</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>14</div></div>
            </div>
            <div class="row">
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>15</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>16</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>17</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1 selected"><div class="booked1">18</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>19</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>20</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>21</div></div>
            </div>
            <div class="row">
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>22</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>23</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>24</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>25</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>26</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>27</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>28</div></div>
            </div>
            <div class="row">
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>29</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>30</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>31</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>1</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>2</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>3</div></div>
                <div class="col col-s-1 col-xs-1 p-2 col-l-1"><div>4</div></div>
            </div>
            <div class="row">
                <div class="date"><div>A29</div></div>
                <div class="date"><div>A30</div></div>
                <div class="date"><div>A31</div></div>
                <div class="date"><div>A1</div></div>
                <div class="date"><div>A2</div></div>
                <div class="date"><div>A3</div></div>
                <div class="date"><div>A4</div></div>
            </div>
        </div>
        <!-- <div class="align-items-center justify-content-center">
            <button class="btn btn-primary" style="width: 25%;">Book</button>
        </div> -->
    </div>

</body>


@code {

}
