.overlay{
    height: 100vh;
    width: 100vw;
    opacity: 1;
    background-color: rgba(51, 51, 51, 0.315);
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
}

.bookingContainer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bookingArea
{
    height: 60%;
    width: 80%;
    background-color: #fff;
    border-radius: 20px;
    opacity: 1;
    z-index: 101;
    /* cursor: progress; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    align-items: center;
    justify-items: center;
}

.header > h2{
    font-size: 36px;
}

.bookingOptions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 65%;
    gap: 5px;
}

.bookingOption{
    /* border: 1px solid red; */
    height: 90%;
    width: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.bookingOption:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.bookingOption:nth-child(2){
    box-shadow: 0 0 10px 5px rgba(34, 194, 20, 0.5);
}
