/* CSS HEX 
--platinum: #dae2dfff;
--reseda-green: #767a66ff;
--satin-sheen-gold: #cba135ff;
--red-pantone: #ef233cff;
--caput-mortuum: #462521ff;
*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* border: 3px green solid; */
    /* border-radius: 10px; */
    background-color: #767A66;
    padding: 5px;
    color: #462521;
    font-size: 24px;
}

.content {
    width: 90%;
    height: 80%;
    /* border: 3px solid #325c86; */
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr repeat(5, 2fr);
    row-gap: 5px;
}

.item {
    /* border: 1px solid #325c86; */
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DAE2DF;
    margin: 2px;
}

.day{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.calHead{
    font-weight: 550;
    font-size: 36px;
}

.calHead:first-child, .calHead:nth-child(7){
    background-color: #EF233C;
}

.datePad{
    background-color: #CBA135;
    height: 100%;
    border-radius: 5px;
    width: 100%;
}