/* CSS HEX 
--moonstone: #15aabf;
--electric-blue: #99e9f2;
--french-gray: #adb5bd;
--onyx: #343a40;
--tomato: #EF6351;
*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* border: 3px green solid; */
    /* border-radius: 10px; */
    background-color: #f3f4f5;
    padding: 5px;
    color: #343a40ff;
    font-size: 24px;
    gap: 5px;
}

.heading {
    padding: 20px;
    font-size: 36px;
    font-weight: 700;
    width: 90%;
    background-color: rgba(21, 171, 191, 0.199);
    text-align: center;
}

.content {
    width: 90%;
    height: 80%;
    /* border: 3px solid #325c86; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr repeat(5, 2fr);
    /* row-gap: 5px; */
}

.item {
    border: 1px solid rgba(52, 58, 64, 0.432);
    height: 100%;
    /* border-radius: 5px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #adb5bdff;
    /* margin: 2px; */
}

.item:hover {
    cursor: pointer;
}

.day{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.calHead{
    font-weight: 550;
    font-size: 36px;
    background-color: #99e9f2;
}

.calHead, .calHead:hover{
    cursor: auto;
}
.calHead:first-child, .calHead:nth-child(7){
    background-color: #EF6351;
}

.datePad{
    background-color: #adb5bdff;
    height: 100%;
    border-radius: 5px;
    width: 100%;
}

.datePad, .datePad:hover {
    cursor: auto;
}
